@import "tailwindcss";

.spread-out {
	animation: spread 750ms linear forwards;
}

.spread-in {
	animation: spread 750ms backwards reverse;
}

@keyframes spread {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
